@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VT323";
  src: url("./assets/fonts/VT323-Regular.ttf") format("truetype");
}

* {
  font-family: "Poppins-Regular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  font-weight: 800;
}

.VT323 {
  font-family: "VT323", sans-serif;
  font-size: 50px;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: 1;
}

body:hover::before {
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255, 255, 255, 0) 80px,
    rgba(0, 0, 0, 0.7) 100px
  );
}

@media (max-width: 1024px) {
  body::before {
    background: none;
  }
}

@media (max-width: 1024px) {
  body:hover::before {
    background: none;
  }
}

::selection {
  background-color: #2c2c2c;
  color: #ffffff;
}

/* ----------- SCROLL BAR -------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 191, 255, 0.5);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00bfff;
}

.bgLab {
  background-image: url("./assets/imgs/lab.png");
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .bgLab {
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 640px) {
  .bgLab {
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

.customButton {
  background-color: #2c2c2c;
  font-weight: 800;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 640px) {
  .customButton {
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 13px;
  }
}

.customButton:hover {
  background-color: #414141;
}

.card {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.LoadingIcon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.successfulPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #66bb6a;
  margin-top: 10px;
  text-align: center;
}

.failedPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #ff6666;
  margin-top: 10px;
  text-align: center;
}

.waitingPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #87ceeb;
  margin-top: 10px;
  text-align: center;
}
