@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  font-family: "Poppins-Regular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  font-weight: 800;
}

::selection {
  background-color: #2c2c2c;
  color: #ffffff;
}

.customButton {
  background-color: #2c2c2c;
  font-weight: 800;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #414141;
}

.card {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.LoadingIcon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.successfulPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #66bb6a;
  margin-top: 10px;
  text-align: center;
}

.failedPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #ff6666;
  margin-top: 10px;
  text-align: center;
}

.waitingPayment {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #87ceeb;
  margin-top: 10px;
  text-align: center;
}
